table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
.container {
  margin-left: 20px;
  margin-top: 40px;
}
.example-full-width {
  width: 100%;
}
.img {
  width: 60px;
}
.btn {
  text-align: right;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.pagi {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 5;
}
