<div *ngIf="user$ | async as user" class="profile__container">
  <mat-card class="profile__card">
    <mat-card-header class="profile__header">
      <div>
        <img
          class="mx-auto h-20 w-20 rounded-full border-2 border-white"
          src="https://via.placeholder.com/150"
          alt=""
        />
      </div>
      <div class="text-center mt-2">
        <h1 class="text-gray-900 font-bold text-md mb-2">
          {{ user.fullName }}
        </h1>
        <p class="text-gray-600 font-semibold text-sm mb-2">
          {{ user.email }}
        </p>
        <p class="text-gray-600 font-semibold text-sm mb-2">
          Profile :{{ user.role }}
        </p>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion class="example-headers-align">
        <form [formGroup]="profileForm" (submit)="handleEditProfile()">
          <mat-expansion-panel
            [expanded]="step === 0"
            (opened)="setStep(0)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Full Name: {{ user.fullName }}
              </mat-panel-title>
              <mat-panel-description>
                Edit Your Full Name
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="fullName" autocomplete="off" />
            </mat-form-field>

            <mat-action-row>
              <button mat-button color="primary" (click)="nextStep()">
                Next
              </button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 1"
            (opened)="setStep(1)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Email :{{ user.email }} </mat-panel-title>
              <mat-panel-description>
                Edit Your Email here
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>

            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">
                Previous
              </button>
              <button mat-button color="primary" (click)="nextStep()">
                Next
              </button>
            </mat-action-row>
          </mat-expansion-panel>

          <mat-expansion-panel
            [expanded]="step === 2"
            (opened)="setStep(2)"
            hideToggle
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Password </mat-panel-title>
              <mat-panel-description>
                Edit Your Password Here
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <mat-action-row>
              <button mat-button color="warn" (click)="prevStep()">
                Previous
              </button>
              <button mat-button color="primary" type="submit">End</button>
            </mat-action-row>
          </mat-expansion-panel>
        </form>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <div
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2"
  >
    <div class="-mt-10"></div>
  </div>
</div>
